@import '../../../common/style/mixins';

@import '../../../common/style/variables';

.notificContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 192px;
  background-color: #162C4E;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 1920px;
  @media screen and (max-width: 1600px) {
    position: relative;
  }
  .notificForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .formError {
      color: #DF2224;
      width: 440px;
      height: 59px;
      border-radius: 40px;
      align-self: center;
      box-sizing: border-box;
      border: 1px solid #DF2224;
      padding-left: 20px;
      font-size: 18px;
      @media screen and (max-width: 1000px) {
        width: 353px;
      }
     &::placeholder{
       color: #DF2224;

     }

    }

    .notificInput {
      width: 440px;
      height: 59px;
      border-radius: 40px;
      align-self: center;
      box-sizing: border-box;
      padding-left: 20px;
      font-size: 18px;
      @media screen and (max-width: 1000px) {
        width: 353px;
      }
    }

    .notificBtn {
      align-self: center;
      cursor: pointer;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      border: none;
      background-color: #DF2224;
      margin-left: -56px;
    }
  }

  .notificLinkCont {
    align-self: center;
    @include text('Poppins', 20px, 400, #FFF, 1, 150%);

    .notifikLinkImg {
      vertical-align: sub;
    }
  }
  .button{
    background-color: #162C4E;
    width: 200px;
    color: #FFFFFF;
    border-radius: 40px;
    height: 60px;
  }


}