@import 'src/common/style/mixins';

@import 'src/common/style/variables';

.timerContainer{
margin-top: 30px;
  margin-bottom: 50px;

  .timerItems{
    height: 130px;

    display: flex;
    justify-content: center;
    .timerDays{
      @include timerItem( url('../../../assets/img/days.png') no-repeat bottom 0px right 0px/132px 44px, 132px, 10px,0px)
    }
    .timerHours{
      @include timerItem( url('../../../assets/img/days.png') no-repeat bottom 0px right 0px/132px 44px, 132px, 10px,10px)
    }
    .timerMinutes{
      @include timerItem( url('../../../assets/img/days.png') no-repeat bottom 0px right 0px/132px 44px, 132px, 10px,10px)
    }
    .timerSeconds{
      @include timerItem( url('../../../assets/img/days.png') no-repeat bottom 0px right 0px/132px 44px, 132px, 0px,10px)
    }
  }


}