@import './variables';
@mixin text($fontFamily, $fontSize, $fontWeight, $textColor, $opacity, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $textColor;
  opacity: $opacity;
  line-height: $lineHeight;
}
@mixin timerItem($background, $minWidth, $marginRight, $marginLeft){
  background: $background;
  min-width: $minWidth ;
  margin-right: $marginRight;
  margin-left: $marginLeft;
}