@import '../common/style/mixins';

@import '../common/style/variables';
@import '../common/style/fonts';

.appContainer {
  background-color: $background-base-color;
  margin: 0;
  padding: 0;
  height: 100%;
  .center {
    max-width: 1960px;
    margin: 0 auto;
    height: 100%;
  }
}