@import 'src/common/style/mixins';

@import 'src/common/style/variables';

.modal {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(22, 44, 78, 0.6);

  .content {
    position: relative;

    width: 100%;
    max-width: 310px;
    height: 360px;
    padding: 10px 10px 47px 10px;

    background-color: $background-base-color;

    .close {
      cursor: pointer;
      text-align: end;

      padding: 7px;
    }

    .titleContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 42px;
      margin-bottom: 20px;

      .title {
        @include text('Poppins', 36px, 700, #162C4E, 1, 104%);
      }

    }

    .subtitleContainer {
      margin-bottom: 30px;
      @include text('Poppins', 16px, 400, rgba(0, 0, 0, 0.8), 1, 150%);

    }
  }
}

