@import 'src/common/style/mixins';

@import 'src/common/style/variables';

.eventsContainer{
  padding-top: 110px;
  .accordionContainer{
    transform: rotate(270deg);
    height: 549px;
    width: 518px;
  }
}
