@import 'src/common/style/mixins';

@import 'src/common/style/variables';

.appContainer{
  background-color: $background-base-color;
  margin: 0 ;
  padding: 0;

  .center {
    max-width:1960px;
    margin:0 auto;

  }

}